[submodule "MasqueBlizzBars"]
	path = MasqueBlizzBars
	url = https://github.com/kstange/MasqueBlizzBars.git
[submodule "MerchantPlus"]
	path = MerchantPlus
	url = https://github.com/kstange/MerchantPlus.git
[submodule "OPieMasque"]
	path = OPieMasque
	url = https://github.com/kstange/OPieMasque.git
[submodule "MasqueBlizzInv"]
	path = MasqueBlizzInv
	url = https://github.com/kstange/MasqueBlizzInv.git
[submodule "packager"]
	path = packager
	url = https://github.com/BigWigsMods/packager.git
