[submodule "MasqueBlizzBars"]
	path = MasqueBlizzBars
	url = git@github.com:kstange/MasqueBlizzBars.git
	branch = main
[submodule "MerchantPlus"]
	path = MerchantPlus
	url = git@github.com:kstange/MerchantPlus.git
	branch = main
[submodule "OPieMasque"]
	path = OPieMasque
	url = git@github.com:kstange/OPieMasque.git
	branch = main
[submodule "MasqueBlizzInv"]
	path = MasqueBlizzInv
	url = git@github.com:kstange/MasqueBlizzInv.git
	branch = main
[submodule "packager"]
	path = packager
	url = https://github.com/BigWigsMods/packager.git
	branch = master
